<!DOCTYPE HTML>
<html xmlns:th="http://www.thmeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>码匠社区</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>
</head>
<body>

<div th:insert="~{navigation :: nav}"></div>
<div class="jumbotron">
    <h1>出错了！</h1>
    <p th:text="${message}">服务器挂了！</p>
    <p><a href="/" role="button" class="btn btn-primary btn-lg">回到主页</a></p>
</div>
</body>
</html>